@import "tailwindcss";

@theme {
  --color-text: #0a1813;
  --color-background: #f7fcfa;
  --color-primary: #33a679;
  --color-secondary: #87e3c0;
  --color-tertiary: #64e3b2;
  --font-comfortaa: "Comfortaa", "sans-serif";
}

.dark {
  --color-text: #dff1ea;
  --color-background: #050f0b;
  --color-primary: #57cb9f;
  --color-secondary: #1b8d61;
  --color-tertiary: #1ee297;
}
